// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss

@import 'vars';
@import 'mixins';

@import './components/header';
@import './components/footer';

body {
  background-color: #404040;
  color: #fff;
  font-family: HermanoMayor;
}
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0px 20px;
}
.title {
  font-size: 40px;
}
.subtitle {
}

.constructor {
  &__container {
  }
  &__title {
    text-align: center;
    margin: 20px 0px 20px 0px;
  }
  &__subtitle {
    text-align: center;
    margin: 0px 0px 50px 0px;
  }
  &__link {
    text-decoration: underline 2px;
  }
  &__figure {
  }
}
.figure {
  background-color: #737373;
  padding: 40px;
  position: relative;
  box-shadow: 0px 0px 24px 7px rgba(34, 60, 80, 0.2);
  &__body {
  }
  &__result {
    min-height: 150px;
    background-color: #a6a6a6;
    margin: 0px 0px 20px 0px;
    padding: 10px;
  }
  &__checkbox-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__checkbox {
  }
  &__border-input {
    width: 60px;
    padding: 2px;
    position: absolute;
    border-radius: 2px;
    &--top-left {
      top: -30px;
      left: 0;
      transform: translate(-110%, 0%);
    }
    &--top-right {
      top: -30px;
      right: 0;
      transform: translate(110%, 0%);
    }
    &--bottom-left {
      bottom: -30px;
      left: 0;
      transform: translate(-110%, 0%);
    }
    &--bottom-right {
      bottom: -30px;
      right: 0;
      transform: translate(110%, 0%);
    }
    @media (max-width: 800px) {
      transform: translate(0%, 0%);
    }
  }
}
.checkbox {
  margin: 10px;
  &__input {
  }
  &__label {
  }
}
